/* 
    Document   : style
    Created on : 09.05.2014, 16:31:15
    Author     : pindorama
    Description:
        Purpose of the stylesheet follows.
*/


/* Layout Stylesheet */ 

body {
 margin:20px;
 background:#808080;
 color: #333333;
 text-align:center;
 padding:0;
 }
 
#bodyblock {
 position:relative;
 background: #dcdcdc;
 color: #333333;
 width:650px;
 padding:0;
 }

#column {
 float:left;
 background:#dcdcdc;
 color: #333333;
 width:145px;
 }

#content {
 width:495px;
 background:#ffffff;
 color: #333333;
 border:solid #000000;	
 border-width:0 0 0 1px;
 text-align:left;
 }
 
 /* Presentation Stylesheet */ 

h3, p {
 margin:0;
 padding:15px;
 }

h4 {
 margin:0; 
 padding: 5px 0;
 }
